:root {
    --title-font: 'Caudex', serif;
    --text-font: 'League Spartan', sans-serif;
    --color-darkGreen: #386641;
    --color-forestGreen: #6A994E;
    --color-grassGreen: #A7C957;
    --color-beige: #F2E8CF;
    --color-red: #BC4749;
}

#dark-mode svg {
    width: 4vw;
    height: 4vh;
}

input[type="checkbox"] + label {
    font-size: 2vw;
    display: flex;
    position: relative;
    align-items: center;
}

input[type="checkbox"].toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: var(--color-red);
    border-radius: 1em;
}

input[type="checkbox"].toggle + label::after {
    content:"";
    width: .9em;
    height: .9em;
    background-color: var(--color-beige);
    border-radius: 1em;
    position: absolute;
    left: .1em;
    transition: transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked +label::after {
    transform: translateX(100%);
}

