@media (max-width: 400px) {
    #alert {
        flex-direction: column;
    }
    #contact ul {
        flex-direction: column;
    }

    #contact li {
        font-size: 1rem;
        padding: 15px;
    }
    #contact img {
        width: 50px;
    }

    #contact svg {
        min-width: 1.5rem;
        min-height: 1.5rem;
    }
    #contact p {
        display: inline;
    }

    #sub-header {
        flex-direction: column;
    }

    #social-media {
        flex-direction: column;
    }

    #dark-mode {
        padding: 15px;
    }

    #menu-icon {
        display: none;
    }
    #menu-icon-small-screen {
        position: fixed;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #BC4749;
        color: white;
        top: 0px;
        right: 0px;
        width: 30px;
        height: 30px;
    }

    #homepage-weather {
        grid-template-columns: 1fr;
    }

    .homepage-date-weather {
        grid-template-columns: 1fr;
    }

    .homepage-date-weather p {
        grid-column: 1/2;
    }

    .homepage-date-weather img {
        grid-column: 1/2;
    }
    
    footer {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    #location2 {
        grid-column: 1/2;
    }
}