@media (max-width: 400px) {
    #alert {
        flex-direction: column;
    }
    #contact ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #contact li {
        font-size: 1rem;
        padding: 15px 15px 5px 15px;
    }
    #contact img {
        width: 50px;
    }

    #contact svg {
        min-width: 1.5rem;
        min-height: 1.5rem;
    }
    #contact p {
        display: inline;
    }

    #sub-header {
        justify-content: space-between;
    }

    #social-media {
        flex-direction: row;
    }

    #social-media svg {
        width: 45px;
        height: 45px;
    }

    #dark-mode {
        padding: 15px;
    }

    #menu-icon {
        display: none;
    }
    #menu-icon-small-screen {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #BC4749;
        color: white;
        top: 0px;
        left: 0px;
        width: 50px;
        height: 50px;
    }

    #menu-icon-small-screen svg {
        width: 2rem;
        height: 2rem;
    }

    #homepage-weather {
        grid-template-columns: 1fr;
    }

    .homepage-date-weather {
        grid-template-columns: 1fr;
    }

    .homepage-date-weather p {
        grid-column: 1/2;
    }

    .homepage-date-weather img {
        grid-column: 1/2;
    }
    
    footer {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    #location2 {
        grid-column: 1/2;
    }

    /* ----------------------------------------------------------------------------- */
    /* rentals.html setting; */
    .rentals-card {
        min-width: 280px;
        max-width: 380px;
    }

    .rentals-card h2, .rentals-card p{
        justify-content: flex-start;
    }
    
    .rentals-card > div {
        grid-template-columns: 1fr;
    }
}