h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: burlywood;
    margin: 0 auto;
    padding: 1rem;
}

p {
    background-color: burlywood;
    padding: 1rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
    background: #000;
    animation: fade 10s;
}

main {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}