@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Playfair+Display&family=Playfair:opsz,wght@5..1200,300;5..1200,700;5..1200,900&display=swap');

:root {
    --font1: 'Bevan', serif;
    --font2: 'Playfair Display', serif;
    --color-orange: #EF8354;
    --color-dark-blue: #2D3142;
    --color-navy-blue: #4F5D75;
    --color-grey: #BFC0C0;
    --color-light-grey: #f8f8f8;
    --color-white: #FFFFFF;
}
/* --------------------------------------------------------------- */

/* basic setting */
body {
    font-family: var(--font2);
    color: var(--color-dark-blue);
    background-color: var(--color-white);
    min-width: 390px;
}

h1, h2 {
    font-family: var(--font1);
}

a {
    color: var(--color-dark-blue);
}

/* --------------------------------------------------------------- */

/* dark mode setting */
#mode {
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

/* --------------------------------------------------------------- */

/* header setting */
#headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
}

#headerContainer img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1/1;
}

#headerContainer h1 {
    display: block;
    align-self:self-end;
    padding: 0 1rem;
    margin: 0;
}

/* --------------------------------------------------------------- */

/* navigation and menu setting */

@media (max-width: 799px) {
    .navigation {
        flex-direction: column;
    }
    .navigation li {
        display: none;
    }
}
.navigation {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navigation li a {
    display: block;
    padding: 10px;
    margin: 0;
    color:var(--color-dark-blue);
    text-decoration: none;
}

.navigation li a:link {
    color:var(--color-dark-blue);
}

.navigation li a:visited {
    color:var(--color-dark-blue);
}

.navigation li a:hover {
    color:var(--color-orange);
    background-color: var(--color-dark-blue);
}

#menu {
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-size: 2rem;
    border: 1px solid var(--color-navy-blue);
    padding: 0 0.5rem;
    background-color: var(--color-orange);
}

#menu::before {
    content: "☰";
    color: var(--color-white);
}

#menu.open::before {
    content: "✕";
    color: var(--color-white)
}

/* when menu button is clicked, open class is toggled */
.open li {
    display: block;
    padding: 0;
    color: var(--color-dark-blue);
    background-color: var(--color-orange);
    text-align: center;
    font-family: var(--font2);
    font-weight: bold;
}

/* --------------------------------------------------------------- */

/* main content setting */
@media (max-width: 799px) {
    #container {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        width: 90%;
        margin-bottom: 10px;
    }

    #container #hero {
        display: flex;
        flex-direction: column;
    }

    #chamber-info {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    #chamber-info img {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #chamber-info h2 {
        grid-column: 2/3;
        grid-row:1/2;
    }

    #address {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    #telephone {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #discover-container {
        grid-template-columns: 1fr;
    }
}
#container {
    display: grid;
    margin: 0 auto;
    margin-bottom: 10px;
}

#container .card {
    border: 1px solid var(--color-navy-blue);
    /* background-color: var(--color-light-grey); */
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

#container #hero {
    border: none;
    background-color: var(--color-white);
    position: relative;
}

#hero img {
    display: block;
    width: 100%;
    height: auto;
}

#join {
    background-color: var(--color-dark-blue);
    font-family: var(--font1);
    font-size: 1.3rem;
    border: 10px double var(--color-orange);
    border-radius: 20px;
    padding: 15px;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 30%;
    text-align: center;
    line-height: 1.8rem;
}

#join a {
    color: var(--color-white);
    text-decoration: none;
}

#event #banner {
    width: 80%;
    border: 5px solid var(--color-grey);
    background-color: var(--color-orange);
    margin:  10px auto;
    padding: 0px 30px;
    box-sizing: border-box;
    position: relative;
}

#event #banner a {
    color: var(--color-dark-blue)
}

.hidden {
    display: none;
}

#event #banner h3 {
    text-align: center;
    animation: rubberBand 2s infinite;
}

@keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

#close-banner {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 1;
}

.card h2 {
    display: block;
    background-color: var(--color-dark-blue);
    color: var(--color-orange);
    box-sizing: border-box;
    margin: 0;
    padding: 0 1rem;
}

#container article {
    padding: 1rem;
}

#container article img {
    width: 100%;
    height: auto;
}

#container #spotlights article img {
    width: 100px;
    height: 100px;
}

/* .card p {
    display: block;
    margin: 0;
    padding: 1rem;
} */
#container #weather #current-weather-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

#current-weather-container h3 {
    font-size: 1.3rem;
    margin-bottom: 0;
}

#container #weather-forcast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* --------------------------------------------------------------- */

/* footer setting */

#chamber-info img {
    display: block;
    width: 70px;
    height: auto;
    aspect-ratio: 1/1;
    align-self: center;
    justify-self: right;
    margin: 0;
}

#chamber-info h2 {
    padding-left: 5px;
    align-self: center;
}

#chamber-info p {
    margin: 0;
    padding-top: 5px;
    align-self: center;
    justify-self: center;
}

footer .text {
    display: block;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--color-orange);
    text-align: center;

}

/* --------------------------------------------------------------- */

/* discover.html setting */
#discover-container {
    display: grid;
    grid-row-gap: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

#discover-container .discover-card {
    border: 1px solid var(--color-navy-blue);
    /* background-color: var(--color-light-grey); */
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.discover-label, #discover-welcomeMessage {
    font-family: var(--font1);
}

.discover-card h2 {
    display: block;
    background-color: var(--color-dark-blue);
    color: var(--color-orange);
    box-sizing: border-box;
    margin: 0;
    padding: 0 1rem;
}

.discover-card p {
    display: block;
    margin: 0;
    padding: 1rem;
}

#discover-container #photo-gallery {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
    margin-top: .5rem;
    width: 80%;
}

#photo-gallery figure {
    width: 100%;
}

#photo-gallery figure figcaption {
    padding: 10px;
}

#photo-gallery img {
    width: 100%;
    height: auto;
    border: 5px solid transparent;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

#photo-gallery img:hover {
    border-color: var(--color-orange);
    box-shadow: 0 8px 16px rgb(0, 0, 0);
}

/* --------------------------------------------------------------- */

/* join.html setting */
#join-container {
    font-family: var(--font2);
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 2rem;
}
#join-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

#join-container fieldset {
    border: 1px solid var(--color-orange);
    border-radius: 15px;
    padding: 0.5rem;
    width: 80%;
}

#join-container legend {
    padding: .5rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font1);
    /* color: var(--color-dark-blue); */
}

#join-container form label {
    display: block;
    padding-top: 1rem;
    /* color: var(--color-dark-blue); */
}

#join-container form input {
    display: block;
    padding: .75rem;
    width: 90%;
}

#join-container form input:required {
    border-left: 4px solid red;
    background-color: pink;
}

#join-container form label input:required:valid {
    background-color: white;
    border-left: 4px solid var(--color-dark-blue);
}

#join-container select {
    display: block;
    width: 90%;
    padding: .8rem;
    font-size: 0.9rem;
}

#join-container #description {
    width: 90%;
    padding: .75rem;
}
#join-container form button {
    display: block;
    padding: .75rem;
    margin-top: 1rem;
    border-radius: 50px;
    border: .5px solid var(--color-grey);
    width: 100%;
    max-width: 20rem;
}

#join-container table {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

#join-container caption {
    display: block;
    font-family: var(--font1);
    padding-top: 1.5rem;
    font-size: 1.5rem;
    /* color: var(--color-dark-blue); */
}

#join-container th, td {
    border: 1px solid var(--color-grey);
    padding: .5rem;
}

#join-container tr th:nth-child(1) {
    background-color: var(--color-orange);
}

#join-container tr:nth-child(1) td {
    background-color: var(--color-orange);
}

#join-container tr th:nth-child(2) {
    background-color: var(--color-white);
}

#join-container tr td:nth-child(2) {
    background-color: var(--color-white);
}

#join-container tr th:nth-child(3) {
    background-color: var(--color-orange);
}

#join-container tr td:nth-child(3) {
    background-color: var(--color-orange);
}

#join-container tr th:nth-child(4) {
    background-color: var(--color-white);
}

#join-container tr td:nth-child(4) {
    background-color: var(--color-white);
}

#join-container tr th:nth-child(5) {
    background-color: var(--color-orange);
}

#join-container tr td:nth-child(5) {
    background-color: var(--color-orange);
}

/* --------------------------------------------------------------- */

/* thankyou.html */
#thankyou-container {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

#thankyou-container h1 {
    text-align: center;
}
#thank-you-animate {
    font-family: 'Bevan';
    animation: bounce 2s linear 0s forwards;
}

@keyframes bounce {
    from,
    20%,
    53%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }

    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
      -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }

/* --------------------------------------------------------------- */

/* directory.html */

#directory-container a {
    text-decoration: none;
    /* color: var(--color-dark-blue);     */
}

#directory-container .directory-menu {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center ;
    align-items: center;

}

#directory-container .directory-menu button {
    padding: .5rem;
    margin: 0 5px;
    font-size: 1.5rem;
    font-family: var(--font1);
    color: var(--color-dark-blue);
    background-color: var(--color-orange);
    border: 0px;
    border-radius: 10px;
}
/* grid setting */

#directory-container .directory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 35px;
    margin: 2rem;
}

#directory-container .directory-grid section {
    display: flex;
    flex-direction: column;
}


#directory-container .directory-grid img {
    margin: 0 auto;
}

/* list setting */

#directory-container .directory-list {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#directory-container .directory-list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 35px;
}

#directory-container .directory-list img {
    display: none;
}

#directory-container .directory-list section p:last-child {
    display: none;
}

#directory-container .directory-list section p:nth-last-child(2) {
    display: none;
}

#directory-container .directory-list section h2 {
    font-size: 1rem;
}

#directory-container .directory-list section:nth-child(even) {
    background-color: var(--color-grey)
}
