
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    margin: auto;
    width: 80%;
}
#header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98C1D9;
    padding: 10px
}
#header-content > img {
    width: 65px;
    height: 73px;
    aspect-ratio: auto;
    margin-right: 20px;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a3e59;
}

.navigation li{
    display: none;

}

nav a:link {
    color: #ffffff;
    text-decoration: none;
}

nav a:visited {
    color: #E0FBFC;
}

nav a:hover {
    color: #fafab4;
    font-size: 1.25rem;
}
#menu {
    font-size: 1.5rem;
    border: 1px solid gray;
    padding: 0.5rem 0.75rem;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}


/* when the button is clicked -- the open class is toggle and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
    text-align: center;
    padding: 5px 0;
}


main {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
}

.hero {
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    grid-row:1/2;
}

.hero-label {
    position: absolute;
    top: 150px;
    left: 180px;
    background-color: #ffffff;
    padding: 10px;
    color:#3D5A80;
    font-family: 'Bevan';
    border-radius: 10px;
    opacity: 0.75;
    box-sizing: border-box;
    box-shadow: 0 0 3rem #000;
    width: auto;
    font-size: 1.5rem;
}

#course-name {
    grid-row: 2/3;
    background-color: #E0FBFC;
    padding: 10px;
    margin-top: 0px;
    text-align: center;
}

#learning-activities {
    grid-row: 3/4;
}

#information {
    grid-row: 4/5;
}
.card {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border: 1px solid #3D5A80;
    border-radius: 10px;
}
.card-title {
    background-color: #98C1D9;
    display: block;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#map {
    text-align: center;
    margin-top: 10px;
    grid-row: 5/6;
}

iframe {
    width: 90%;
    margin: 0 auto;
}

.list {
    background-color: #E0FBFC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px;
}
.list ul {
    list-style-type: none;
}

.list ul a:link {
    color: #2a3e59;
    text-decoration: none;
}

.list ul a:visited {
    color: #2a3e59
}

.list ul a:hover {
    color: #bba319;
}

.info-data {
    text-align: center;
}

#footer-box {
    background-color: #98C1D9;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

#footer-box img {
    margin-left: 10px;
    height: 30px;
    width: auto;
    aspect-ratio: auto;
}

#lastModified {
    color: black;
}

@media (min-width: 401px) {
    nav {
        padding: 0;
        margin: 0 auto;
        background-color: #2a3e59;
    }

    .navigation li{
        display: inline-block;
        color: white;
        margin: 0 auto;
        padding: 5px;
    }

    .navigation {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #2a3e59;
    }

    #menu {
        display: none;
    }

    main {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .hero {
        grid-column: span 2;
    }
    #course-name {
        grid-column: span 2;
    }
    
    #learning-activities {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    #information {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #map {
        grid-column: span 2;
    }
}

@media screen and (max-width: 400px) {
    body {
        width: 100%;
    }
}